In [41]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as numpy

In [42]:
billboard_csv = "Billboard.csv"
billboard_df = pd.read_csv(billboard_csv)
billboard_df.head()

,Unnamed: 0,Song,Artist,Weeks On #1,Weeks On Chart,Peak Rank
0,0,Blank Space,Taylor Swift,7,36,1
1,1,Take Me To Church,Hozier,0,41,2
2,2,Uptown Funk!,Mark Ronson Featuring Bruno Mars,14,56,1
3,3,Thinking Out Loud,Ed Sheeran,0,58,2
4,4,Lips Are Movin,Meghan Trainor,0,29,4

In [44]:
billboard2_df = billboard_df.rename(columns={"Song": "Song/Nominee"})
billboard2_df.head()

,Unnamed: 0,Song/Nominee,Artist,Weeks On #1,Weeks On Chart,Peak Rank
0,0,Blank Space,Taylor Swift,7,36,1
1,1,Take Me To Church,Hozier,0,41,2
2,2,Uptown Funk!,Mark Ronson Featuring Bruno Mars,14,56,1
3,3,Thinking Out Loud,Ed Sheeran,0,58,2
4,4,Lips Are Movin,Meghan Trainor,0,29,4

In [45]:
# removed Unnamed: 0 column
billboard_updated_df = billboard2_df.drop("Unnamed: 0", axis = "columns")
billboard_updated_df.head()

,Song/Nominee,Artist,Weeks On #1,Weeks On Chart,Peak Rank
0,Blank Space,Taylor Swift,7,36,1
1,Take Me To Church,Hozier,0,41,2
2,Uptown Funk!,Mark Ronson Featuring Bruno Mars,14,56,1
3,Thinking Out Loud,Ed Sheeran,0,58,2
4,Lips Are Movin,Meghan Trainor,0,29,4

In [27]:
#billboard_gb_df = billboard_updated_df.groupby("Artist")
#billboard_gb_df.head(10)

In [46]:
grammy_csv = "the_grammy_awards.csv"
grammy_df = pd.read_csv(grammy_csv)
grammy_df.head(2)

,year,title,published_at,updated_at,category,nominee,artist,workers,img,winner
0,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,Bad Guy,Billie Eilish,"Finneas O'Connell, producer; Rob Kinelski & Fi...",https://www.grammy.com/sites/com/files/styles/...,True
1,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,"Hey, Ma",Bon Iver,"BJ Burton, Brad Cook, Chris Messina & Justin V...",https://www.grammy.com/sites/com/files/styles/...,True

In [47]:
grammy2_df = grammy_df.rename(columns={"artist": "Artist", "nominee": "Song/Nominee"})
grammy2_df.head()

,year,title,published_at,updated_at,category,Song/Nominee,Artist,workers,img,winner
0,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,Bad Guy,Billie Eilish,"Finneas O'Connell, producer; Rob Kinelski & Fi...",https://www.grammy.com/sites/com/files/styles/...,True
1,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,"Hey, Ma",Bon Iver,"BJ Burton, Brad Cook, Chris Messina & Justin V...",https://www.grammy.com/sites/com/files/styles/...,True
2,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,7 rings,Ariana Grande,"Charles Anderson, Tommy Brown, Michael Foster ...",https://www.grammy.com/sites/com/files/styles/...,True
3,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,Hard Place,H.E.R.,"Rodney “Darkchild” Jerkins, producer; Joseph H...",https://www.grammy.com/sites/com/files/styles/...,True
4,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,Talk,Khalid,"Disclosure & Denis Kosiak, producers; Ingmar C...",https://www.grammy.com/sites/com/files/styles/...,True

In [48]:
# removed published_at, updated_at, workers, and img columns
grammy_update_df = grammy2_df.drop(["published_at", "title", "updated_at", "workers", "img"], axis = "columns")
grammy_update_df.head()

   year            category Song/Nominee         Artist  winner
0  2019  Record Of The Year      Bad Guy  Billie Eilish    True
1  2019  Record Of The Year      Hey, Ma       Bon Iver    True
2  2019  Record Of The Year      7 rings  Ariana Grande    True
3  2019  Record Of The Year   Hard Place         H.E.R.    True
4  2019  Record Of The Year         Talk         Khalid    True

In [53]:
merge_df = billboard_updated_df.merge(grammy_update_df, on= ["Song/Nominee", "Artist"])
merge_df.head(15)

,Song/Nominee,Artist,Weeks On #1,Weeks On Chart,Peak Rank,year,category,winner
0,Thinking Out Loud,Ed Sheeran,0,58,2,2015,Best Pop Solo Performance,True
1,Something In The Water,Carrie Underwood,0,20,37,2014,Best Country Solo Performance,True
2,Rather Be,Clean Bandit Featuring Jess Glynne,0,31,44,2014,Best Dance Recording,True
3,Earned It (Fifty Shades Of Grey),The Weeknd,0,43,3,2015,Best R&B Performance,True
4,Bad Blood,Taylor Swift Featuring Kendrick Lamar,0,25,1,2015,Best Music Video,True
5,Get Ur Freak On,"Missy ""Misdemeanor"" Elliott",0,25,40,2001,Best Rap Solo Performance,True
6,Girl Crush,Little Big Town,0,24,18,2015,Best Country Duo/Group Performance,True
7,Alright,Kendrick Lamar,0,14,81,2015,Best Rap Performance,True
8,These Walls,"Kendrick Lamar Featuring Bilal, Anna Wise & Th...",0,0,94,2015,Best Rap/Sung Collaboration,True
9,Hotline Bling,Drake,0,36,2,2016,Best Rap/Sung Performance,True
10,Hello,Adele,10,26,1,2016,Record Of The Year,True
11,Hello,Adele,10,26,1,2016,Best Pop Solo Performance,True
12,Thriller,Michael Jackson,0,18,31,1983,Album Of The Year,True
13,Thriller,Michael Jackson,0,18,31,1983,"Best Pop Vocal Performance, Male",True
14,Traveller,Chris Stapleton,0,0,87,2015,Best Country Solo Performance,True